__pycache__/
htm_ready.flag
videos/
encoder_test/converted_htm/
encoder_test/encoded_sdrs/
encoder_test/hi.txt
encoder_test/enc_test.py

hashing_module/db/
hashing_module/live_hash.py
hashing_module/live_hash0.py
hashing_module/live_hash1.py
hashing_module/live_hash4.py
htm-env/
htm/alerts
htm/logs
htm/models

